# qbitd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.qbit
host=127.0.0.1

#mainnet default
port=8352

#testnet default
#port=18352

#testnet4 default
#port=48352

#regtest default
#port=18452

#signet default
#port=38352

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=444f24a8
genesis=0000324188278d089b5eabd9b62bf874c7512677cea90720af51ea5a61a2f997
input=/home/example/.qbit/blocks

# testnet
#netmagic=c3d30a67
#genesis=0000c20791706c6940a43d75db44d1ae9dadeb637cedfbaa5cf293435eeaab3c
#input=/home/example/.qbit/testnet3/blocks

# testnet4
#netmagic=c7c41640
#genesis=000000000000796fe86bbc0bf1b66a07e4b4c0676f74b54cf7e5ce8b3f1a0090
#input=/home/example/.qbit/testnet4/blocks

# regtest
#netmagic=a66b1fda
#genesis=0ee96aa77c4b600850e349344fa21b107e805f5370ddc7a6189db12cf69acce6
#input=/home/example/.qbit/regtest/blocks

# signet
#netmagic=953ccfa5
#genesis=0000000a5698c727f05cbdaeaff3e48b48ab187aeb03414e783ea81fed14d65c
#input=/home/example/.qbit/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
